extends ../layout

block content
  .container
    .header-section
      a.back-btn(href="/admin") < 返回管理面板
      h1.page-title 编辑笔记
    
    .note-info
      p 日期: #{note.date}
      p 标题: #{note.title}
    
    form#editForm.edit-form(method="POST" action=`/admin/${note.plainDate}/update`)
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="_method" value="PUT")
      .form-group
        label(for="title") 标题
        input#title(type="text" name="title" value=note.title required)
      
      .form-actions
        button.btn.save-btn(type="submit") 保存修改
        a.btn.cancel-btn(href="/admin") 取消
      
      .image-section
        h2 图片管理
        .image-upload
          input#imageUpload(type="file" name="images" multiple accept="image/*")
          label.btn(for="imageUpload") 上传新图片
        
        #sortableImages.image-grid
          - const imageDir = `/images/${note.plainDate}`
          - const images = note.images || []
          if images.length
            each image in images
              .image-item
                img.image-thumbnail(src=`${imageDir}/${image}` alt="板书图片")
                button.delete-image(type="button" data-filename=image) ×
          else
            .no-images 暂无图片

block scripts
  script(src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js")
  script(src="/javascripts/edit.js")